@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: khaki;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header{
    background-color: burlywood;
    text-align: center;
    
}

img{
    display: inline;
}

main{
    display: none;
    text-align: center;
    font-size: 2em;
    
}

main > p{
    color: red;
    
}

div#balao{
    display: inline; 
}
div#sonic{
    display: inline;
}

div#telainicial{
    text-align: center;
}

div#telainicial> button{
    margin: auto;
    margin-top: 10px;
    font-size: 50px;
}
